{% extends "SRI/layout.html" %}
{% load static %}
{% block body %}



<div class="container">
        <form method="post">
            {% csrf_token %}

            <label class="form-label" for="name">File name
                <input class="form-control" type="text" name="name" placeholder="Products" value="Article">
            </label>


            <label class="form-label" for="website">Url
                <input class="form-control" type="url" name="website" placeholder="https://www.wikipedia.org/" value="https://www.hoover.org/">
            </label>

            <label class="form-label" FOR="containerClass">Container Class
                <input class="form-control" type="text" name="containerClass" placeholder="container_class" value="row-1">
            </label>

            <label class="form-label" for="scrappedClasses" >Scrapped Classes
                <input class="form-control" type="text" name="scrappedClasses" placeholder="class_1 class_2 ..." value="pane-item-title pane-meta field-authors pane-meta field-date">
            </label>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>

    <div class="container mt-4">
        <div class="accordion" role="tablist" id="accordion-1">
            {% for website in websites %}
                <div class="accordion-item">
                    <h2 class="accordion-header" role="tab">
                        <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-{{ website.id }}" aria-expanded="true" aria-controls="accordion-1 .item-{{ website.id }}">{{website.name}}</button>
                    </h2>
                </div>
                <div class="accordion-collapse collapse  item-{{website.id}}" role="tabpanel" data-bs-parent="#accordion-1">
                        <div class="accordion-body">
                            <p>url: {{website.url}}  container class: {{website.container_class}} classes:{{  website.classes }}</p>
                            <a class="btn btn-primary" href="{%  static '/dataframes/'|add:website.name %}.csv" role="button" download>Download</a>
                        </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
